[alias]
st = status
ci = commit
br = branch
co = checkout
au = add -u .
ll = log --oneline --graph
d = difftool
cn = log  --date=format:"%Y-%m-%d" --pretty=format:"%h  %cd %cn"
[diff]
tool = vimdiff

